/* Basic reset using universal selector inside it we will remove default margin and padding added by browser.*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* By defining box-sizing to border-box padding and border are no longer part of height and width of an element */
}
body {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; /* line-height: 1.7 means line-height will be 1.7 times bigger than predefined line-height */
}

/* ------------------------------------------------------- */
/* Header */
/* ------------------------------------------------------- */

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #00000070, #00000070),
    url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  /* clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); */
}
.logo-box {
  position: absolute;
  top: 30px;
  left: 30px;
}
.logo {
  height: 35px;
}
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading-primary {
  color: #ffffff;
  backface-visibility: hidden; /* To remove shakyness of an animation */
  margin-bottom: 30px;
}
.heading-primary-main {
  display: block;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: 28px;
  padding-left: 28px; /* Because of letter spacing it will not exact center padding left fix it */
  text-transform: uppercase;
  animation: moveInLeft 2s ease-in;
}
.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-left: 2px;
  animation: simpleOne 2s ease-in;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes simpleOne {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* Button active state is when it get clicked */
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
  background-color: #ffffff;
  color: #777777;
}
