/* Basic reset using universal selector inside it we will remove default margin and padding added by browser.*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* By defining box-sizing to border-box padding and border are no longer part of height and width of an element */
}
body {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7; /* line-height: 1.7 means line-height will be 1.7 times bigger than predefined line-height */
  color: #ffffff;
}

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #00000020, #00000030),
    url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
